body{
    
        background-image: url(https://www.desktopbackground.org/download/o/2015/11/19/1044808_blackberry-passport-wallpapers-page-2-blackberry-forums-at_640x640_h.jpg);
        background-repeat: no-repeat;
        
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
    