body{
    background-color: black;
}
header{
    background-color:rgb(164, 205, 16);
    margin-bottom: 80px;
    padding-bottom: 10px;
    
}
li a{
    color: red;
}
*{
    color: blue;
}

img{
    width: 250px;
    height: 350px;
    
}
h1{
    text-align: center;
    font-size: 40px;
}
p{
color: white;
    margin-left: 400px;
    margin-right: 300px;
    font-size:x-large;
}
.main1{
    margin-bottom: 150px;
}

